- Universitas Esa Unggul memiliki detail mahasiswa sebagai berikut :
- Ani, Budi, Joni, Jono dan Lono
- Setiap mahasiswa dating ke kampus mulai dari hari senin sampai minggu
- Untuk melakukan kegiatan kuliah
- Ani menghabiskan biaya 30000 dikampus setiap datang
- Budi menghabiskan biaya 35000 dikampus setiap datang
- Joni menghabiskan biaya 20000 dikampus setiap datang
- Jono 25000 dan Lono 15000

In [20]:
import pandas as pd
import numpy as np